@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Joe's Pizzas</h1>
    <img src="~\images\img.jpg" />
   <a asp-page="\PizzaSelection">Explore Pizzas</a>
</div>
